<footer class="page-footer pink lighten-1">
    <div class="footer_copyright pink">
        <div class="container">
            All articles belong to <a href="https://www.wired.com/" target="_blank">Wired</a>
            <a class="grey-text right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>