<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongo_News_App</title>
    <!--styles-->
    <link rel="stylesheet" href="../public/style.css">

</head>

<body>
    <header class="header">
        <h1 class="app-name">MNN</h1>
        <h2 class="catch-phrase">Mongo New Network</h2>
        <h3 class="motto">All the news you need, sort of.</h3>
    </header>

    <div class="banner">
        <button class="scrape" id="scrape">scrape</button>
    </div>
    {{{body}}}
    <!--scripts-->
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!--javascript-->
    <script src="../public/app.js"></script>
</body>

</html>