<div>
    <h1 class="card z-depth-3 center-align">MNN, the most-trusted name in news...scraping.</h1>
    <h6 class="card z-depth-3 center-align">Disclaimer: Webiste only scrapes from Wired.</h6>
    <div class="row">
        <div class="col s3"></div>
        <h4 class="card z-depth-3 center-align col s6"> <a href="/scrape">Scrape</a></h4>
    </div>
</div>

<div>
    <div class="col s2" ></div>
    <div class="col s8 left-align">
        {{#each article}}
        <div class="card-panel">
            <h3>{{this.title}}</h3>
            {{!--goes to article.handlebars--}}
    <a href="/readArticle/{{this._id}}" class="waves-effect waves-light btn pink lighten-1" id="btnSignUp">Read It</a>
        </div>
        {{/each}}
    </div>
</div>