<nav>
    <div class="nav-wrapper blue-grey">
        <a href="/" class="brand-logo center">Scrape It</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scraped">Scraped</a></li>
            <li><a href="https://github.com/Holgermueller/Mongo_News_App" target="_blank">Git Repo</a></li>
        </ul>
    </div>
</nav>