<nav>
    <div class="nav-wrapper blue-grey">
        <a href="/" class="brand-logo center">Scrape It</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scraped">Scraped</a></li>
            <li><a href="" target="_blank"></a>Repo</li>
        </ul>
    </div>
</nav>